{% extends "layout.html" %}

{% block body%}
    <h1>About us</h1>
    <p>Group ?</p>
    <p>We used Flask, a Python microframework, Bootstrap for the CSS and Jinja2 Templates. Our knowledge was sourced from various areas including:
        <ul>
            <li>Books</li>
            <li>Various Youtube tutorials to self teach</li>
            <li>Group support</li>
            <li>Support from the PyKla Developer Community, and other experienced developers.</li>
        </ul>
    </p>
{% endblock %}